.breadcrumb {
  margin-left: 136px;
  font-size: 12px;
  margin-top: 44px;
}

.page-title {
  margin-top: 19px;
  font-size: 24px;
  margin-left: 136px;
}

.main-content-cart {
  height: 440px;
  display: flex;
  padding-left: 135px;
}

.main-content-cart img {
  width: 100%;
  height: 100%;
}

.game-info-cart {
  margin-left: 22px;
  height: 100%;
  width: 264px;
}

.estimate {
  border: #717182 1px solid;
  border-radius: 6px;
  margin-left: 41px;
  width: 251px;
  height: 100%;
}

.studio-cart {
  font-size: 21px;
}

.game-rating-price-cart {
  width: 251px;
  margin-top: 7px;
}

.options {
  margin-top: 205px;
}

.options button {
  border: none;
  border-radius: 6px;
  height: 62px;
  width: 100%;
}

.estimate div {
  display: flex;
  width: 252px;
  justify-content: center;
}
