/* Navigation Bar Styles */

body {
  font-family: "Montserrat";
}

.active {
  color: #ffffff;
}

header {
  position: sticky;
  top: 0px;
  align-items: center;
  width: 100%;
  height: 52px;
  display: flex;
  padding: 10px 10px;
  background-color: #212326;
  box-sizing: border-box;
  z-index: 100;
}

header a {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 11px;
}

.nav-left {
  position: relative;
  top: 1px;
  margin-left: 8.5%;
}

.nav-right {
  position: relative;
  top: 1px;
  display: flex;
  gap: 19px;
  height: 21px;
  margin-left: auto;
  margin-right: 10.5%;
}

.site-name {
  position: absolute;
  top: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: white;
}

.nav-center {
  position: relative;
  top: -3px;
  left: -3px;
  display: flex;
  width: 708px;
  height: 30px;
  gap: 149px;
  margin-left: 250px;
  align-items: center;
}

.indicators {
  padding-top: 5px;
  display: flex;
  gap: 19px;
  width: 300px;
  font-size: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-left: -105px;
  width: 354px;
  height: 27px;
  border-radius: 5px;
  background-color: #f3f3f5;
}

.search-box img {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  margin-left: 8px;
}

.search-box input {
  outline: none;
  border: none;
  font-size: 10px;
  width: 100%;
  background-color: transparent;
}

/* Banner Styles  */

.banner {
  margin-top: 0px;
  height: 374px;
  background-image: url(../Asset/Image/banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-left: 157px;
}

.banner-tags {
  position: relative;
  height: auto;
}

.tag-sale {
  background-color: #d4183d;
  color: white;
  border-radius: 6px;
  font-size: 9px;
  padding: 2px 9px;
  width: auto;
  height: 12px;
  display: inline-flex;
}

.tag-featured {
  background-color: #fdc700;
  border-radius: 6px;
  font-size: 10px;
  padding: 2px 9px;
  width: auto;
  height: 11px;
  display: inline-flex;
}

.featured-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  border: black 1px solid;
  border-radius: 6px;
  font-size: 10px;
  padding: 2px 9px;
  width: auto;
  height: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.banner-info {
  display: flex;
  margin-top: 25px;
}

.rating {
  gap: 5px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 6px;
  width: auto;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
}

.rating b {
  font-weight: 400;
  font-style: italic;
}

.learn-more {
  display: flex;
  align-items: center;
  width: 106px;
  padding-left: 16px;
  margin-left: 8px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: none;
  height: 29px;
}

.banner-sale {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10%;
  margin-top: -8px;
  height: 40px;
}

.discount {
  border-radius: 6px 0px 0px 6px;
  background-color: #4b1822;
  font-size: 41px;
  color: #ff6565;
  padding-left: 5px;
  padding-right: 2px;
}

.old-new-price {
  background-color: black;
  padding-left: 11px;
  padding-right: 8px;
}

.old-price {
  color: #9b9b9b;
  font-size: 13px;
  text-decoration: line-through;
  margin-left: 32px;
}

.new-price {
  color: #ff6565;
  font-size: 23px;
  margin-bottom: 6px;
}

.add-cart {
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
  background-image: linear-gradient(to right, #d4183d, #6e0c20);
  color: white;
  border: none;
  border-radius: 0px 6px 6px 0px;
  font-size: 21px;
  padding-left: 20px;
  padding-top: 6px;
}

.styled-section {
  margin-top: 24px;
  padding-left: 61px;
}

.view-all {
  background-color: white;
  border: #898989 1px solid;
  border-radius: 6px;
  color: black;
  font-size: 18px;
  margin-right: 37px;
  padding: 4px 10px;
}

.game-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 18px;
  margin-top: 17px;
}

.game-card {
  position: relative;
  border: #898989 1px solid;
  border-radius: 18px;
  width: 337px;
  height: 300px;
  padding-bottom: 10px;
}
.game-card img {
  width: 100%;
  max-height: 161px;
}
.Overlay {
  border-radius: 18px 18px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  max-height: 161px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.container:hover .Overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.game-info {
  padding-left: 12px;
  padding-right: 5px;
}

.game-info h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.studio {
  font-size: 14px;
}

.game-tags {
  margin-top: 5px;
  gap: 3px;
  display: flex;
  align-items: center;
}

.tags {
  border: none;
  border-radius: 6px;
  font-size: 10px;
  padding: 2px 9px;
  width: auto;
  height: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.game-rating-price {
  margin-top: 20px;
  position: absolute;
  bottom: 14px;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-web {
  margin-top: 50px;
  height: 60px;
  background-color: #212326;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.footer-web .site-name {
  position: static;
  z-index: auto;
  top: auto;
  left: auto;
  font-size: 20px;
}

.rating-gameList {
  font-size: 14px;
}

.rating-gameList img {
  height: 9px;
  width: 9px;
  vertical-align: middle;
  margin-top: -2px;
}

.price {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 3px;
  border-radius: 6px;
  margin-right: auto;
  border: black 1px solid;
}

.price:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
  border: black 1px solid;
  cursor: pointer;
}

.discount-badge {
  position: absolute;
  top: 12px;
  background-color: #d4183d;
  padding: 2px 10px 2px 10px;
  border-radius: 0px 6px 6px 0px;
  color: white;
  font-size: 20px;
}

.price-sale {
  background-image: linear-gradient(to right, #170b0b, #d4183d);
  color: white;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
  border-radius: 6px;
  margin-right: auto;
  font-size: 13px;
  display: flex;
  border: black 1px solid;
}

.price-sale:hover {
  background-image: none;
  background-color: white;
  color: #d4183d;
  transition: all 0.3s ease;
  border: black 1px solid;
  cursor: pointer;
}

.price-sale:hover s {
  color: black;
}
